<!-- wp:template-part {"slug":"header","className":""} /-->
<!-- wp:group {"className":"none-shape","style":{"dimensions":{"minHeight":"50vh"},"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","verticalAlignment":"center"}} -->
    <div class="wp-block-group none-shape" style="min-height:50vh"><!-- wp:heading {"textAlign":"center","className":"","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"x-large"} -->
    <h2 class="wp-block-heading has-text-align-center has-primary-color has-text-color has-link-color has-x-large-font-size">Error 404</h2>
    <!-- /wp:heading -->
    
    <!-- wp:heading {"textAlign":"center","level":3,"className":"","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"}},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
    <h3 class="wp-block-heading has-text-align-center has-secondary-color has-text-color has-link-color" style="margin-bottom:var(--wp--preset--spacing--70)">Are you lost?</h3>
    <!-- /wp:heading -->
    
    <!-- wp:site-logo {"align":"center","className":"","style":{"spacing":{"margin":{"bottom":"6px"}}}} /--></div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","className":""} /-->