<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"none-shape","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<main class="wp-block-group none-shape" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:post-title {"textAlign":"center","align":"wide","className":"","style":{"spacing":{"margin":{"bottom":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dmedium, 6rem)"}},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"x-large"} /-->
<!-- wp:post-content {"className":"","layout":{"inherit":true}} /-->
<!-- wp:group {"className":"none-shape","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group none-shape"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow","className":"","style":{"layout":{"selfStretch":"fill","flexSize":null}}} /-->
<!-- wp:post-navigation-link {"textAlign":"right","showTitle":true,"linkLabel":true,"arrow":"arrow","className":"","style":{"layout":{"selfStretch":"fill","flexSize":null}}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->