$main-color: var(--wp--preset--color--primary);
$second-color: var(--wp--preset--color--secondary);
$black-color: var(--wp--preset--color--black);

$rotate-values: 0, 25, 45, 90, 135, 180, 360;
$spacing-values: 5, 10, 25, 50, 75, 100, 125, 150, 175, 200;
@mixin generate-class($name, $attribute, $property, $values) {
    @each $value in $values {
        .#{$name}-#{$value} { #{$property}: #{$value}#{$attribute} !important; }
    }
}
@mixin generate-class-rotate($name, $values) {
    @each $value in $values {
        .#{$name}-#{$value} { transform: rotate(#{$value}deg) !important; }
    }
}
@mixin prefix($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}  

/* SCROLLBAR CUSTOM */
/*CHROME*/
::-webkit-scrollbar{
	width: 5px;
    &-thumb{
        background-color: $main-color;
        border-radius: 50px;
    }
    &-track{
        background-color: white;
        border-left: solid 1px lightgray;
    }
}
/*IE*/
body {
	scrollbar-face-color: $main-color;
	scrollbar-track-color: white;
	scrollbar-track-border-left: solid 1px lightgray;
    scroll-behavior: smooth;
}
/* END SCROLLBAR CUSTOM */
.wp-block{ max-width: 100%; }
body.no-scroll{ overflow-y: hidden; }
body:not(.wp-admin), body:not(.wp-admin) *{
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}
summary{
    font-weight: bold;
    padding: 10px;
}
summary:hover{ color: $main-color; }
.small{ font-size: var(--wp--preset--font-size--small); }
.medium{ font-size: var(--wp--preset--font-size--medium); }
.large{ font-size: var(--wp--preset--font-size--large); }
.block{ display: block !important; }
.inline-block{ display: inline-block !important; }
.inline{ display: inline !important; }
em,.italic{ font-style: italic; }
strong,.bold{ font-weight: bold; }
.lower,.lowercase{ text-transform: lowercase; }
.upper,.uppercase{	text-transform: uppercase; }
.capitalize{ text-transform: capitalize; }
.center{ text-align: center; }
.icenter{ text-align: center !important; }
.auto{ margin: auto; }
.iauto{ margin: auto !important; }
.right{ text-align: right; }
.right ul,.right ol{ direction: rtl; }
.left{ text-align: left; }
.left ul,.left ol{ direction: ltr; }
@include generate-class-rotate('rotate', $rotate-values);
.bg-fixed{ background-attachment: fixed; }
.none, .hidden{ display: none !important; }
.invisible{ visibility: hidden !important; }
.indent{ position: absolute !important; left: -99999px !important; }
.full-screen, .full-height{ height: 100vh; }
@include generate-class('pad', 'px', 'padding', $spacing-values);
@include generate-class('marg', 'px', 'margin', $spacing-values);
@include generate-class('pad-top', 'px', 'padding-top', $spacing-values);
@include generate-class('marg-top', 'px', 'margin-top', $spacing-values);
@include generate-class('pad-bottom', 'px', 'padding-bottom', $spacing-values);
@include generate-class('marg-bottom', 'px', 'margin-bottom', $spacing-values);
@include generate-class('pad-left', 'px', 'padding-left', $spacing-values);
@include generate-class('marg-left', 'px', 'margin-left', $spacing-values);
@include generate-class('pad-right', 'px', 'padding-right', $spacing-values);
@include generate-class('marg-right', 'px', 'margin-right', $spacing-values);
.no-marg{ margin: 0 !important; }
.no-pad{ padding: 0 !important; }
.position-relative{ position: relative; }
.position-absolute{ position: absolute; }
.position-fixed{	position: fixed; }
.position-fixed.is-content-justification-right{ right: 0; }
.flex{ display: flex; justify-content: center; align-items: center; }
.justify-center{ justify-content: center !important; }
.justify-start{ justify-content: flex-start !important; }
.justify-end{ justify-content: flex-end !important; }
.justify-around{ justify-content: space-around !important; }
.justify-between{ justify-content: space-between !important; }
.align-center{ align-items: center !important; }
.align-end{ align-items: flex-end !important; }
.align-start{ align-items: flex-start !important; }
.flex-wrap{ flex-wrap: wrap !important; }
.flex-nowrap{ flex-wrap: nowrap !important; }
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-khtml-user-select: none; /* Konqueror HTML */
    @include prefix(user-select, none);
}
.layout-masonary{
	--gap: var(--wp--style--block-gap);
	columns: 150px;
	gap: var(--wp--style--block-gap);
	display: block;
}
.layout-masonary > *{
	break-inside: avoid;
	margin-bottom: var(--wp--style--block-gap);
}
.show{ transform: translateY(0) !important; }
.hide{ transform: translateY(-100%) !important; }
.arrow-down-shape,
.arrow-down-shape.down
{ clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%); }
.arrow-down-shape.up
{ clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 100%, 0 100%); }
.arrow-down-shape.right
{ clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%); }
.arrow-down-shape.left
{ clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0 50%); }
.trapezoid-shape,
.trapezoid-shape.right
{ clip-path: polygon(0 0, 100% 7.5%, 100% 92.5%, 0 100%); }
.trapezoid-shape.up
{ clip-path: polygon(7.5% 0, 92.5% 0, 100% 100%, 0 100%); }
.trapezoid-shape.down
{ clip-path: polygon(0 0, 100% 0, 92.5% 100%, 7.5% 100%); }
.trapezoid-shape.left
{ clip-path: polygon(0 7.5%, 100% 0, 100% 100%, 0 92.5%); }
.increase-shape,
.increase-shape.right
{ clip-path: polygon(0 0, 100% 0, 100% 92.5%, 0 100%); }
.increase-shape.left
{ clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92.5%); }
.increase-shape.up
{ clip-path: polygon(0 7.5%, 100% 0, 100% 100%, 0 100%); }
.increase-shape.down
{ clip-path: polygon(0 0, 100% 7.5%, 100% 100%, 0 100%); }
.parallelogram-shape,
.parallelogram-shape.right
{ clip-path: polygon(7.5% 0, 100% 0, 92.5% 100%, 0 100%); }
.parallelogram-shape.left,
.parallelogram-shape.down
{ clip-path: polygon(0 0, 92.5% 0, 100% 100%, 7.5% 100%); }
.triangle-shape,
.triangle-shape.up
{ clip-path: polygon(50% 0, 100% 100%, 0 100%); }
.triangle-shape.right
{ clip-path: polygon(0 0, 100% 50%, 0 100%); }
.triangle-shape.down
{ clip-path: polygon(0 0, 100% 0, 50% 100%); }
.triangle-shape.left
{ clip-path: polygon(0 50%, 100% 0, 100% 100%); }
.circle-shape
{ clip-path: circle(closest-side); }
.star-shape
{ clip-path: polygon(50% 0, 61% 35%, 100% 35%, 68% 57%, 79% 100%, 50% 70%, 21% 100%, 32% 57%, 0 35%, 39% 35%); }
.message-shape,
.message-shape.down
{ clip-path: polygon(0 0, 100% 0, 100% 92.5%, 92.5% 92.5%, 92.5% 100%, 75% 92.5%, 0 92.5%); }
.message-shape.up
{ clip-path: polygon(0 7.5%, 7.5% 7.5%, 7.5% 0, 25% 7.5%, 100% 7.5%, 100% 100%, 0 100%); }
.message-shape.right
{ clip-path: polygon(0 0, 92.5% 0, 92.5% 7.5%, 100% 7.5%, 92.5% 25%, 92.5% 100%, 0 100%); }
.message-shape.left
{ clip-path: polygon(7.5% 0, 100% 0, 100% 100%, 7.5% 100%, 7.5% 92.5%, 0 92.5%, 7.5% 75%); }
.message-shape.reverse,
.message-shape.down.reverse
{ clip-path: polygon(0 0, 100% 0, 100% 92.5%, 25% 92.5%, 7.5% 100%, 7.5% 92.5%, 0 92.5%); }
.message-shape.up.reverse
{ clip-path: polygon(0 7.5%, 75% 7.5%, 92.5% 0, 92.5% 7.5%, 100% 7.5%, 100% 100%, 0 100%); }
.message-shape.right.reverse
{ clip-path: polygon(0 0, 92.5% 0, 92.5% 75%, 100% 92.5%, 92.5% 92.5%, 92.5% 100%, 0 100%); }
.message-shape.left.reverse
{ clip-path: polygon(7.5% 0, 100% 0, 100% 100%, 7.5% 100%, 7.5% 25%, 0 7.5%, 7.5% 7.5%); }
.fluentform .ff-el-group.ff_list_buttons .ff-el-form-check.ff_item_selected label>span{
	background-color: $main-color;
	border-color: $main-color;
}
.fluentform .ff-el-group.ff_list_buttons .ff-el-form-check.ff_item_selected:first-child label>span{	border-left-color: $main-color; }
.fluentform .ff-step-titles li:before{ z-index: 2; }
.animate__delay-1s{ --animate-delay: 1s; }
.animation__view{
    -webkit-animation-timeline: view();
    animation-timeline: view();
    animation-range: 10% 30%;
}
.animation__scroll{
    -webkit-animation-timeline: scroll();
    animation-timeline: scroll();
    animation-range: 10% 30%;
}
/* MODELS */
.animation-main-menu{
    --clippath: ellipse(0 0 at 100% 0%);
    position: fixed; inset: 0;
    clip-path: var(--clippath);
    transition-property: clip-path;
    transition-duration: .5s;
    z-index: 50;

    &[data-state="open"]{ --clippath: ellipse(150% 150% at 100% 0); }
    &[data-state="close"]{ --clippath: ellipse(0 0 at 100% 0); }
}
.underline{
    &_menu > *:after,
    &:after{
        content: "";
        display: block;
        height: 1px;
        width: 0;
        background-color: $main-color;
        transform-origin: center center;
        position: relative;
        left: 50%;
        margin-top: 4px;
        transition: width .25s, left .25s;
    }
    
    &_menu > *:hover:after,
    &_menu > *.active_menu:after,
    &:hover:after{
        width: 50%;
        left: 25%;
    }
}
.youtube-video {
    & .wp-block-embed__wrapper{
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 56.25%;
    }

    & .youtube-video iframe{
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}
.searchbar {
    display: flex;
    justify-content: center;

    & .icon {
        display: inline-block;
        color: $main-color;
        fill: $main-color;
        margin: 0 .25em;
        cursor: pointer;
        width: 20px; height: 20px;
    }

    & input {
        width: 0;
        border: none;
        border-bottom: solid $main-color 0;
        background-color: transparent;
        text-align: center;
        color: white;
        transition-property: width, border-bottom-width;

        &:focus {
            width: 200px;
            outline: none;
            border-bottom-width: 1px;
        }

        &::placeholder{
            font-style: italic;
            color: white;
            opacity: .5;
        }
    }
}
.wp-block-navigation{
    & svg{ width: 40px; height: 40px; }
    & .wp-block-pages-list__item__link.wp-block-navigation-item__content:hover{ color: $main-color; }
    &__responsive-container.is-menu-open{ justify-content: center; }
    &__responsive-container .wp-block-navigation__responsive-container-close{
        position: fixed;
        top: var(--wp--preset--spacing--60);
        right: var(--wp--preset--spacing--60);
    }
}
.burger{
    position: fixed;
    top: 0; right: 0;
    width: 40px; height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    z-index: 10;
    cursor: pointer;

    & div{
        background-color: $black-color;
        width: 100%; height: 5px;
        border-radius: 25px;
        margin: 2px;
        transition: all .25s ease-in-out;
        opacity: 1;

        &:nth-child(2){ width: 75%; }
        &:nth-child(3){ width: 50%; }
    }

    &.white div{ background-color: white; }
    &:hover div,
    &[data-state="open"]:hover div{ background-color: $main-color; width: 100%; }
    &[data-state="open"] div{
        background-color: white;

        &:nth-child(1){
            transform: rotate(45deg);
            transform-origin: left;
            position: relative;
            top: -5px;
        }
        &:nth-child(2){ opacity: 0; }
        &:nth-child(3){
            transform: rotate(-45deg);
            transform-origin: left;
            position: relative;
            bottom: -5px;
            width: 100%;
        }
    }
}
@keyframes splashanim {
    from{ transform: translateY(0); }
    to{ transform: translateY(-150%); }
}
@keyframes splashlogo{
    0%{ width: 0; }
    50%{ width: 125px; }
    100%{ width: 100px; }
}
@keyframes splashtitle{
    0%{ transform: translateY(50px); opacity: 0; }
    75%{ transform: translateY(-10px); opacity: 1; }
    100%{ transform: translateY(0); }
}
.splashscreen{
    position: fixed; inset: 0;
    z-index: 5000;
    background-color: inherit;
    color: inherit;
    display: flex;
    text-align: center;
    
    &.loaded{ animation: splashanim .25s ease-in-out 1.75s forwards; }
    & .contents,
    & .loader{ margin: auto; }
    & .logo{
        height: auto;
        width: 0;
        margin: auto;
        display: block;
        animation: splashlogo .5s cubic-bezier(.44,.01,.66,.99) 0s forwards;
    }
    & .title{
        font-size: 40pt;
        font-weight: 600;
        text-transform: uppercase;
        animation: splashtitle .5s cubic-bezier(.44,.01,.66,.99) 0s forwards;

        &:after{
            content: "";
            display: block;
            background-color: $main-color;
            height: 2px; width: 50%;
            margin: 5px auto;
        }
    }
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid $main-color;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    animation: pulse 1s linear infinite;
    
    &:after {
        content: '';
        position: absolute;
        width: 48px;
        height: 48px;
        border: 5px solid $main-color;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: scaleUp 1s linear infinite;
    }
}
@keyframes scaleUp {
    0% { transform: translate(-50%, -50%) scale(0) }
    60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
    0% , 60% , 100%{ transform:  scale(1) }
    80% { transform:  scale(1.2)}
}